body { font: 13px sans-serif; }

div.tooltip {
    position: absolute;
    text-align: left;
    width: 120px;
    height:125px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

rect { fill: #fff; }
ul {
  list-style-type: none;
  margin: 0.5em 0em 0.5em 0em;
  width: 100%; }
  ul li {
    display: table-cell;
    vertical-align: middle;
    margin: 0em;
    padding: 0em 1em; }
.axis { font-size: 1.5em; }
.chart {
  background-color: #4b5d7a;
  width: 900px;
  height: 450px; }
circle, .line {
  fill: none;
  stroke: red;
  stroke-width: 2px; }
circle {
  fill: white;
  fill-opacity: 0.2;
  cursor: move; }
  circle.selected {
    fill: #ff7f0e;
    stroke: #ff7f0e; }
  circle:hover {
    fill: #ff7f0e;
    stroke: #707f0e; }
  circle.selected:hover {
    fill: #ff7f0e;
    stroke: #ff7f0e; }
