<html>
<head>
  <title>react-webpack-boilerplate</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <style>
    
  </style>
  <script type="text/javascript" src="http://d3js.org/d3.v2.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="client/graph/ODgraph.js"></script>
  <link rel="stylesheet" type="text/css" href="client/graph/style.css">
</head>
  <body>

  <div id="app"></div>

  <%- body %>

  <% if (env.production) { %>
    <script async src="<%= env.assets.main.js %>"></script>
  <% } else { %>
    <script src="http://localhost:3000/client/main.js"></script>
  <% } %>
  <div id="tip"></div>
  <script>

  </script>

  </body>
</html>
